@model IEnumerable<Product>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="width: 80px;">@Html.DisplayNameFor(m=> m.ProductId)</th>
                <th style="width: 200px;">@Html.DisplayNameFor(m=> m.Image)</th>
                <th>@Html.DisplayNameFor(m=> m.Name)</th>
                <th>@Html.DisplayNameFor(m=> m.Price)</th>
                <th style="width: 162px;">Settings</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach(var prd in Model){
                <tr>
                    <td>@prd.ProductId</td>
                    <td><img src="~/img/@prd.Image" class="img-fluid" alt=""></td>
                    <td>@prd.Name</td>
                    <td>@prd.Price TL</td>
                    <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@prd.ProductId" class="btn btn-success" style="width: 70px;">Edit</a>
                        <a href="" class="btn btn-danger" style="width: 70px;">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>